@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --muted: 210 40% 96.1%;
    --popover: 0 0% 100%;
    --card: 0 0% 100%;
    --radius: 0.5rem;
  }
}

.fmMonitorBody {
  color: white;
  font-family: var(--font-quicksand) !important;
}

.fmScreen {
  position: absolute;
  background: var(--background-image), rgba(32, 32, 32, 0.5);
  background-blend-mode: overlay;
  background-size: 90vh;
  background-repeat: repeat;
  background-position: 0 0;
  background-clip: content-box;
  width: 100vw;
  height: 100vh;
  animation: bgAnim 100s linear 0s infinite;
  transition: background .2s ease;
}

.fmCenterScreen {
  display: flex;
  overflow: hidden;
  align-items: center;
}

.fmFirstSetupScreen {
  
}

.fmCenterContent {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  width: 627px;
  max-width: 627px;
  min-width: 340px;
  word-wrap: normal;
  left: 50%;
  transform: translatex(-50%);
  align-items: stretch;
  text-align: center;
  overflow: hidden;
}

.fmWelcomeCenterContentTitle {
  font-weight: 900;
  font-size: 55px;
}

.fmWelcomeCenterContentSubtitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 60px;
  text-decoration-line: underline;
  text-underline-offset: 10px;
}

.fmWelcomeCenterContentButton {
  margin-top: 40px;
  width: 330px;
  height: 60px;
  font-weight: 400;
  font-size: 25px;
}

.fmWelcomeCenterContentCheckbox {
  margin-top: 10px;
  margin-left: -10px;
}

.fmWelcomeCenterContentCheckbox .fmWelcomeCenterContentCheckboxLabel {
  margin-right: 10px;
  font-weight: 400;
  font-size: 16px;
}

.fmWelcomeCenterContentCheckbox .fmWelcomeCenterContentCheckboxCheck {
  position: absolute;
  border-color: white !important;
  margin-top: 3px;
}

.data-\[state\=checked\]\:bg-primary[data-state=checked] {
  background-color: hsl(var(--checkbox-checked-bg)) !important;
}

.fmWelcomeCopyrightFooter {
  position: absolute;
  width: 305px !important;
  max-width: 305px !important;
  min-width: 305px !important;
  left: 3px;
  bottom: 3px;
  font-size: 15px;
}

@keyframes bgAnim {
  to {
    background-position: 0 0;
  }
  from {
    background-position: -100vw 100vh;
  }
}
